
body {
  background-color: #ffe6aa;
    font-family: 'Candal', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.wordPuzzle-template {
  padding: 40px 15px;
  text-align: center;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Candal', sans-serif;
    font-weight: 300;
    color: #333;
}


.centered {
    text-align: center;
}


.navbar-default {
	background-color: #bb8f24;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.stdmargin{
  margin:12px;
}

.form-control {
	height: 42px;
	font-size: 18px;
  width:100%;
}

.addscore-well{
  padding: 8px 0px 0px 8px;
	height: 42px;
  background-color: #ffb600;  
}

