<div class="container">

<div class="row stdmargin">
  <div class="panel panel-default">
    <div class="panel-heading">time left: {{timeLeft}}</div>
    <div class="panel-body">
      <div class="row">
          <div class="stdmargin">{{mangledWord}} <span class="badge">{{rightWord}}</span> </div>
      </div>
      <div class="row">
        <div class="stdmargin">
          <input name="userWord" ng-model="userWord" type="text"  class="form-control" id="userWord" ng-change="userWordChanged()"/>
        </div>
      </div>
      <div class="row">
        <div class="stdmargin addscore">
          adds {{wordScore}}
        </div>
      </div>
        
    </div>
    <div class="panel-footer">
      total score: {{playerScore}} - game score: {{gameScore}}
    </div>
  </div>
</div>
</div>
